.about {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  img {
    position: absolute;
    right: 100px;
    top: -500px;
    width: 500px;
  }
  h2 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 100px;
  }
  &__start {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &--item {
      position: relative;
      width: 49%;
      &:last-of-type {
        margin-top: 71px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  &__details {
    position: relative;
    display: flex;
    justify-content: space-between;
    &--item {
      position: relative;
      width: 23.5%;
      h3 {
        font-family: Open Sans, sans-serif;
        font-size: 13px;
        font-weight: 600;
      }
      p {
        font-family: Open Sans, sans-serif;
        font-size: 14px;
      }
    }
  }
}