.about {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  img {
    position: absolute;
    right: 100px;
    top: -500px;
    width: 500px;
    @include breakpoint(max-width 992px) {
      display: none;
    }
  }
  h2 {
    margin-top: 100px;
  }
  h3 {
    color: #67676d;
  }
  p {
    font-size: 14px;
    color: #a3a3a3;
  }
  &__start {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    &--item {
      position: relative;
      width: 49%;
      @include breakpoint(max-width 600px) {
        width: 100%;
      }
      &:last-of-type {
        margin-top: 71px;
        @include breakpoint(max-width 992px) {
          margin-top: 0;
        }
      }
    }
  }
  &__details {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--item {
      position: relative;
      width: 23.5%;
      @include breakpoint(max-width 992px) {
        width: 48%;
      }
      @include breakpoint(max-width 600px) {
        width: 100%;
      }
    }
  }
}