.reasons {
  position: relative;
  width: 100%;
  padding: 100px 0 150px;
  background-color: #82ca9c;
  color: #fff;
  h2 {
    margin: 20px auto 40px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    @include breakpoint(max-width 720px) {
      justify-content: space-around;
    }
    &--item {
      position: relative;
      width: 30%;
      min-width: 211px;
      @include breakpoint(max-width 720px) {
        width: 48%;
      }
      @include breakpoint(max-width 600px) {
        width: 100%;
      }
      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}