html{
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 300;
    @include breakpoint(max-width 600px) {
        font-size: 39px;
    }
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    @include breakpoint(max-width 600px) {
        font-size: 27px;
    }
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif;
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}
